/** @format */

@import "tailwindcss";

@theme {
  --color-brand-red: #ff4142;
  --color-brand-green: #00b578;
  --color-bg-page: #f5f5f5;
  --color-text-main: #333333;
  --color-text-sub: #999999;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg-page);
  /* 移动端优先：隐藏可能出现的横向滚动条 */
  overflow-x: hidden;
  /* 优化移动端点击高亮和字体渲染 */
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

/* PC 端居中模拟手机视口容器 */
#root {
  max-width: 480px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: white;
  position: relative;
  /* 如果需要在 PC 上看出边界，可以加一点阴影 */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}
